@import url('//fonts.googleapis.com/css?family=Nunito');
@import 'grid.scss';
@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.125);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.095), 0 6px 6px rgba(0, 0, 0, 0.115);
}
.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.125), 0 10px 10px rgba(0, 0, 0, 0.11);
}
.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.11);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.p-auto {
  padding: auto !important;
}

.pt-auto,
.py-auto {
  padding-top: auto !important;
}

.pr-auto,
.px-auto {
  padding-right: auto !important;
}

.pb-auto,
.py-auto {
  padding-bottom: auto !important;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

button {
  outline: none;
  border: none;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.w-fit {
  width: fit-content;
}

.w-16 {
  width: 16px;
  height: 16px;
}

.w-20 {
  width: 20px;
  height: 20px;
}

.w-24 {
  width: 24px;
  height: 24px;
}

.w-32 {
  width: 32px;
  height: 32px;
}

.w-40 {
  width: 40px;
  height: 40px;
}

.w-48 {
  width: 48px;
  height: 48px;
}

.w-56 {
  width: 56px;
  height: 56px;
}

.w-64 {
  width: 64px;
  height: 64px;
}

.w-xxs {
  width: 60px;
}

.w-xs {
  width: 90px;
}

.w-sm {
  width: 120px;
}

.w {
  width: 180px;
}

.w-md {
  width: 200px;
}

.w-lg {
  width: 240px;
}

.w-xl {
  width: 280px;
}

.w-xxl {
  width: 320px;
}

.mw-xxs {
  width: 100%;
  max-width: 60px;
}

.mw-xs {
  width: 100%;
  max-width: 90px;
}

.mw-sm {
  width: 100%;
  max-width: 120px;
}

.mw {
  width: 100%;
  max-width: 180px;
}

.mw-md {
  width: 100%;
  max-width: 200px;
}

.mw-lg {
  width: 100%;
  max-width: 240px;
}

.mw-xl {
  width: 100%;
  max-width: 280px;
}

.mw-xxl {
  width: 100%;
  max-width: 320px;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.vh-100 {
  height: 100vh !important;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
}
